.about-container {
    color: white;
    display: flex;
    justify-content: center;
}

.about {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.about-header-main {
    text-align: center;
    font-size: 2rem;
}

.about-header {
    margin-top: 20px;
    font-size: 1.7rem;
}

.about-text {
    font-size: 1.2rem;
}

.about-header-link {
    display: flex;
    align-items: center;
}

.about-header-link:hover {
    color: var(--color-eight);
    cursor: pointer;
}