.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 50px;
}

.admin-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.admin-section textarea {
    height: 200px;
}

.admin-section input {
    height: 30px;
    font-size: 1.2rem;
}

.admin-section button {
    margin-top: 10px;
    height: 35px;
    min-width: 300px;
}

.admin-sidebar {
    text-align: center;
}

.admin-sidebar img {
    margin-top: 20px;
}

.admin-missing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-missing-section-header {
    font-size: 2rem;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.unique-missing-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.missing-product-card {
    position: relative;
    cursor: pointer;
}

.missing-product-card-header-container {
    position: absolute;
    font-size: 1.4rem;
    color: white;
}

.missing-product-card-header {
    margin: 10px;
}