@font-face {
    font-family: "Hauser";
    src: url('../assets/Hauser.otf');
}

html, body, #root {
    width: 100%;
    margin: 0;
    --color-one: #f8d902;
    --color-two: #f0a317;
    --color-three: #eb682b;
    --color-four: #ec4635;
    --color-five: #cd325b;
    --color-six: #b71eaf;
    --color-seven: #880bfb;
    --color-eight: #5945fb;
    --color-nine: #3e66ea;
    --color-ten: #0f1194;
    --gradient-start: #7500a2;
    --gradient-end: #180a61; 
    font-family: "Hauser";
    -webkit-text-stroke: 1px var(--color-ten);
}

.main-loading-spinner-container {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-loading-spinner {
    position: absolute;
    /* border: 20px solid var(--color-eight);
    border-top: 20px solid var(--color-two); */
    animation-name: profileSpinner;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    height: 150px;
    width: 150px;
}

@keyframes mainSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.main-loading-spinner-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--color-eight);
    position: absolute;
}

@keyframes moveBottomLeftCircle {
    0% {
        left: 20px;
        bottom: 20px;
    }
    20% {
        left: 20px;
        bottom: 20px;
    }
    40% {
        left: 0px;
        bottom: 0px;
    }
    100% {
        left: 20px;
        bottom: 20px;
    }
}

@keyframes moveBottomRightCircle {
    0% {
        right: 20px;
        bottom: 20px;
    }
    20% {
        right: 20px;
        bottom: 20px;
    }
    40% {
        right: 0px;
        bottom: 0px;
    }
    100% {
        right: 20px;
        bottom: 20px;
    }
}

@keyframes moveTopCircle {
    0% {
        left: 50px;
        top: 20px;
    }
    20% {
        left: 50px;
        top: 20px;
    }
    40% {
        left: 50px;
        top: 0px;
    }
    100% {
        left: 50px;
        top: 20px;
    }
}

.circle-one {
    left: 20px;
    bottom: 20px;
    animation-name: moveBottomLeftCircle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.circle-two {
    right: 20px;
    bottom: 20px;
    animation-name: moveBottomRightCircle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.circle-three {
    left: 50px;
    top: 20px;
    animation-name: moveTopCircle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.main-loading-spinner-text {
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
    color: white;
}

body {
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 20px;
    height: 100%;
}

main {
    max-width: 1300px;
    border-top: 2px solid var(--color-two);
}

.main-btn {
    background-color: var(--color-eight);
    color: white;
    height: 30px;
    border: 2px solid var(--color-ten);
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: "Hauser";
    letter-spacing: 1px;
}

.main-btn:hover {
    background-color: var(--color-six);
    cursor: pointer;
}