.contact-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}

.contact {
    background-color: white;
    color: var(--color-eight);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 1px 1px var(--color-two);
    padding: 50px;
    position: relative;
}

.close-contact-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-header-link {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.contact-header-link:hover {
    cursor: pointer;
    color: var(--color-eight);
}

.contact-header-main {
    font-size: 2.2rem;
    color: var(--color-ten);
}

.contact-header {
    font-size: 1.7rem;
    color: var(--color-ten);
}

.contact-text {
    font-size: 1.2rem;
}

.contact-message-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.contact-input {
    height: 30px;
    margin-bottom: 10px;
    width: 50%;
    font-family: "Hauer";
    font-size: 1.3rem;
}

.contact-body {
    resize: none;
    height: 300px;
    font-family: "Hauer";
    font-size: 1.3rem;
}

.contact-message-btn {
    height: 35px;
    margin-top: 10px;
    width: 50%;
    align-self: flex-end;
}

