.hero {
    box-shadow: 4px 4px 1px 1px var(--color-two);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    height: auto;
    width: 100%;
}

.hero p {
    color: white;
    font-size: 4vw;
}

.hero-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2vw;
}
