.privacy-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 3;
    -webkit-text-stroke: 0px white;
}

.privacy {
    background-color: white;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    overflow-y: auto;
    position: relative;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.privacy-text {
    width: 100%;
}

.close-privacy-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}