.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
}

.main-profile-header {
    text-align: center;
    font-size: 2rem;
}

.profile-loading-spinner-container {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-loading-spinner {
    position: absolute;
    border: 20px solid var(--color-eight);
    border-top: 20px solid var(--color-two);
    border-radius: 50%;
    animation-name: profileSpinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 150px;
    width: 150px;
}

.profile-loading-spinner-text {
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
}

@keyframes profileSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.profile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    padding: 50px;
    padding-top: 30px;

}

.profile-view-order-background {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-view-order {
    background-color: white;
    box-shadow: 4px 4px 1px 1px var(--color-two);
    margin: 50px;
    color: var(--color-ten);
    -webkit-text-stroke: 0px white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.profile-view-order-header {
    font-size: 2rem;
    text-align: center;
}

.profile-view-order-subheader {
    font-size: 1.5rem;
    text-align: center;
}

.profile-view-order-status {
    font-size: 1.3rem;
}

.profile-view-order-status span {
    color: var(--color-eight);
}

.close-profile-view-order-btn {
    align-self: flex-end;
    margin-bottom: 20px;
}

.profile-view-order-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.profile-view-order-card img {
    width: 150px;
    height: 150px;
    box-shadow: 4px 4px 1px 1px var(--color-two);
    cursor: pointer;
}

.profile-view-order-card-info a {
    text-decoration: underline;
}

.profile-view-order-card-info a:hover {
    color: var(--color-ten);
    cursor: pointer;
}

.profile-view-order-card-info-header {
    font-size: 1.5rem;
}

.profile-view-order-card-info-text {
    font-size: 1.2rem;
    color: var(--color-eight);
}

.profile-view-order-total {
    font-size: 2rem;
    align-self: flex-end;
    margin-top: 20px;
}

.profile-view-order-total span {
    color: var(--color-eight);
}

.close-profile-view-order-btn-bottom {
    margin-top: 50px;
}

.profile-details-header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-header {
    font-size: 1.6rem;
    margin-bottom: 5px;
    
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-text {
    font-size: 1.2rem;
}

.profile-edit-btn, .profile-update-password-btn {
    margin-top: 30px;
    width: 200px;
    box-sizing: border-box;
    align-self: flex-start;
}

.profile-update-password-btn {
    margin-top: 10px;
}

.order-details {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.order-details-header {
    font-size: 2rem;
}

.profile-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: var(--color-eight);
    box-shadow: 4px 4px 1px 1px var(--color-two);
    padding: 10px;
    width: 90%;
}

.profile-order-text {
    font-size: 1.2rem;
}

.profile-order-link {
    text-decoration: underline;
    -webkit-text-stroke: 0px white;
    color: white;
    font-size: 1.3rem;
}

.profile-order-link:hover {
    cursor: pointer;
    color: var(--color-ten);
}

.profile-order-view-order-link {
    font-size: 1.4rem;
}

.profile-order-view-order-link:hover {
    color: var(--color-ten);
    cursor: pointer;
}
