.profile-container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
}

.main-profile-header {
    text-align: center;
    font-size: 2rem;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.profile-details-header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-header {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-decoration: underline;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-edit-btn {
    margin-top: 30px;
    width: 200px;
    box-sizing: border-box;
    align-self: flex-start;
}

