.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-header {
    margin-top: 30px;
    font-size: 2.2rem;
    color: white;
    background-color: var(--color-eight);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid var(--color-two);
    padding: 5px;
}

.search {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.search-results-header {
    margin-top: 40px;
    align-self: flex-start;
    color: white;
    font-size: 1.8rem;
    background-color: var(--color-eight);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid var(--color-two);
    padding: 5px;
}

.search-results-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 250px));

    gap: 30px;
    padding: 50px;
    padding-top: 20px;
}