.shopping-cart-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.shopping-cart-card img {
    width: 30%;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.shopping-cart-buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.shopping-cart-buttons label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopping-cart-buttons label > input {
    width: 40%;
    margin-left: 5px;
}

.shopping-cart-btn {
    height: 25px;
    font-size: 1rem;
    width: 49%;
}

.shopping-cart-buttons-group {
    display: flex;
    justify-content: space-between;
}

