.signup-container {
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 100px;
}

.signup-header-main {
    font-size: 2.2rem;
    text-align: center;
}

.signup label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.signup-error {
    color: var(--color-one);
}

.signup input {
    height: 30px;
    min-width: 500px;
    font-family: "Hauer";
}

.signup-btn {
    margin-top: 20px;
    height: 40px;
}