.view-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.product-images {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 1fr 150px 35px;
    gap: 20px;
}

.product-image-main {
    width: 100%;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.product-images-slideshow {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 20px;  
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    padding-right: 5px;
}

.product-images-slideshow img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.scroll-buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slideshow-btn {
    width: 50%;
}

.variant-image {
    height: 100%;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.product-sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 50px;
}

.product-name {
    font-size: 2.2rem;
    text-align: center;
}

.product-price {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-label {
    font-size: 1.5rem;
    height: 30px;
    display: flex;
    align-items: center;
}

.sidebar-label select {
    height: 30px;
    box-sizing: border-box;
    margin-left: 5px;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--color-nine);
    border: 2px solid var(--color-ten);
    color: white;
    font-family: "Hauser";
    padding-left: 10px;
}

.show-size-charts {
    align-self: flex-end;
    cursor: pointer;
}

.product-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.quantity-label {
    align-self: flex-end;
}

.quantity-label input {
    margin-left: 5px;
    height: 20px;
    background-color: var(--color-nine);
    border: 2px solid var(--color-ten);
    color: white;
    font-family: "Hauser";
    padding-left: 10px;
}

.size-charts-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.size-charts {
    margin: 100px;
    padding: 30px;
    color: var(--color-eight);
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr .3fr;
    position: relative;
    background-color: white;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.size-charts button {
    color: var(--color-eight);
    background-color: white;
    border: none;
    font-size: 1.5rem;
    right: 10px;
    top: 10px;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
}

.size-charts-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-chart-section {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.size-chart-img-container {
    width: 30%;
    display: flex;
    justify-content: center;
}

.size-charts img {
    height: 100%;
    /* box-shadow: 4px 4px 1px 1px var(--color-two); */
    /* border-top: 1px solid var(--color-two);
    border-left: 1px solid var(--color-two); */
}

.size-chart-text {
    width: 70%;
}

.measurement-container {
    background-color: var(--color-eight);
    color: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 5px 5px 2px 2px var(--color-two);
}

.measurement-container > p:first-child {
    font-size: 1.8rem;
}

.add-to-cart-btn {
    height: 35px;
    margin-top: 20px;
    box-sizing: border-box;
}