.view-tag-page-hero-container {
    height: 400px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.view-tag-hero {
    height: 100%;
    width: 100%;
    box-shadow: 4px 4px 1px 1px var(--color-two);
}

.view-tag-hero-text {
    position: absolute;
    color: white;
    font-size: 5rem;
}